﻿@{
    ViewBag.Title = "RSVP Site";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div id="nav">

</div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">

    </li>

    <li class="two">
     
    </li>

    <li class="three">
     
    </li>
</ol>
