﻿@model Cts.HR.Recruiting.RSVP.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserUserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserUserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserPassword)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserPassword)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
