﻿@model Cts.HR.Recruiting.RSVP.ViewModels.EventData

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Event</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Event.Name)
            @Html.ValidationMessageFor(model => model.Event.Name)
        </div>
  
        <div class="editor-label">
            @Html.LabelFor(model => model.Event.EventDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Event.EventDate, new { @class= "date"})
            @Html.ValidationMessageFor(model => model.Event.EventDate)
        </div>

        <div>
            @*@Html.DropDownList("EventTypeId", new SelectList(Model.EventTypes, "Id", "Name"))*@
            @Html.DropDownListFor(model => model.Event.EventTypeId, new SelectList(Model.EventTypes, "Id", "Name"))

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Event.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Event.Location)
            @Html.ValidationMessageFor(model => model.Event.Location)
            @Html.CheckBox("ChkAddress", false, new { onclick = "viewAddress(this);" })
        </div>


        <div id="eventAddressFields" hidden="hidden">
            <div class="editor-label">
                @Html.LabelFor(model => model.Event.Address1)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Address1)
                @Html.ValidationMessageFor(model => model.Event.Address1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Event.Address2)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Address2)
                @Html.ValidationMessageFor(model => model.Event.Address2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Event.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.City)
                @Html.ValidationMessageFor(model => model.Event.City)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Event.State)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.State)
                @Html.ValidationMessageFor(model => model.Event.State)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Event.Zip)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Event.Zip)
                @Html.ValidationMessageFor(model => model.Event.Zip)
            </div>
        </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Question.Question)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Question.Question)
                @Html.ValidationMessageFor(model => model.Question.Question)
            </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".date").datepicker({
            altField: "#EventDate",
        });
    });

    function viewAddress(sender) {
        var divAddress = document.getElementById('eventAddressFields');
        divAddress.style.display = sender.checked ? 'inline' : 'none';
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
