﻿@model Cts.HR.Recruiting.RSVP.Models.Event

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Event</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventCity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventCity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventState)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventState)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventZip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventZip)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
