﻿@model Cts.HR.Recruiting.RSVP.Models.Event

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Event</legend>

        @Html.HiddenFor(model => model.EventID)

        <div class="editor-label">
            @Html.LabelFor(model => model.EventDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventDate)
            @Html.ValidationMessageFor(model => model.EventDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventType)
            @Html.ValidationMessageFor(model => model.EventType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address1)
            @Html.ValidationMessageFor(model => model.Address1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventCity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventCity)
            @Html.ValidationMessageFor(model => model.EventCity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventState)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventState)
            @Html.ValidationMessageFor(model => model.EventState)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventZip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventZip)
            @Html.ValidationMessageFor(model => model.EventZip)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
