﻿@model IEnumerable<Cts.HR.Recruiting.RSVP.ViewModels.EventData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Zip)
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model.Event) {
    <tr>
        <td>
            @item.EventID
        </td>        
        <td>
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventZip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventID })
        </td>
    </tr>
}*@

</table>
