﻿@model IEnumerable<Cts.HR.Recruiting.RSVP.Models.Attendee>

@{
    ViewBag.Title = "Index";
}

<h2>Browse Attendees</h2>

<p>Select an Event from @Model.Count() Attendees:</p>

<ul>
    @foreach (var attendee in Model)
    { 
    <li>@Html.ActionLink(attendee.FirstName, "Details", new {id = attendee.EventAttendeeId})</li>
    }
</ul>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebURL)
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebURL)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventAttendeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventAttendeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventAttendeeId })
        </td>
    </tr>
}

</table>
